@model Razor.Models.ProductsListViewModel

@{
ViewBag.Title = "Products";
}

@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, pageNumber => Url.Action("List", new {page = pageNumber, category = Model.CurrentCategory}))
</div>